!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title
      twitter trends seen through the eyes of google images
    %meta{:name => 'description', :content => ''}
    - ['reset', 'jquery.jcarousel', 'trends'].each do |c|
      %link{:type => 'text/css', :rel => 'stylesheet', :href => "/css/#{c}.css"}
    - ['jquery', 'jquery.jcarousel.pack', 'trends'].each do |j|
      %script{:type => 'text/javascript', :src => "/js/#{j}.js"}

  %body

    #wrapper

      #header
        %h1
          %a{:href => '/'} twitter trends seen through the eyes of google images

      #content
        = yield

      #footer
        &copy; 2009
        %a{:href => 'http://stevenwilkin.com'} Steven Wilkin

    %script{:type => 'text/javascript'}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => 'text/javascript'}
      var pageTracker = _gat._getTracker("UA-2764682-9");
      pageTracker._trackPageview();
