!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title
      twitter trends seen through the eyes of google images
    %meta{:name => 'description', :content => ''}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/reset.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/trends.css'}

  %body

    #wrapper

      #header
        %h1
          %a{:href => '/'}trends
        %h2
          twitter trends seen through the eyes of google images

      = yield

      #footer
        &copy; 2009
        %a{:href => 'http://stevenwilkin.com'} Steven Wilkin
